body {
  font-family: "Lato", sans-serif;
  background: #0e9261;
  color: aliceblue;
}

h1,
h2 {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 70px;
  margin: 10px auto;
  background-color: tomato;
  text-align: center;
  padding: 8px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 2px black;
  cursor: pointer;
}

#value {
  text-align: center;
}

#conversion {
  padding: 1vmin;
  font-size: 18px;
  text-align: center;
}
